@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link id="bootstrap-css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/home/index.css" /> 
    <title>HelpTech</title>
</head>
<body>

    <nav class="navbar navbar-expand-md fixed-top top-nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><strong>HelpTech</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src=""></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto text-sm-center text-md-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#price">Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonial">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Pricing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="home" class="intro intro-bg bg-overlay parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 caption-two-panel ml-auto pt-5">
                    <div class="intro-caption mt-5">
                        <h1 class="text-white mb-2">Conecta con técnicos confiables al instante</h1>
                        <p class="text-white mb-4">HelpTech es la solución ideal para resolver problemas domésticos. Encuentra técnicos calificados cerca de ti, revisa sus valoraciones y contrata con confianza desde la comodidad de tu hogar.</p>
                        <a class="btn btn-primary text-white mr-3">Descubre cómo funciona</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){

            if ((".loader").length) {

                $(window).on('load', function () {
                    $(".loader").fadeOut("slow");
                });
            }

            $('a[href^="#"]').on('click', function(event) {

                var target = $( $(this).attr('href') );

                if( target.length ) {
                    event.preventDefault();
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                }

            });

            $(window).scroll(function() {
                var scroll = $(window).scrollTop();

                if (scroll >= 100) {
                    $(".top-nav").addClass("light-header");
                } else {
                    $(".top-nav").removeClass("light-header");
                }
            });

            $(function(){
                var theYear = new Date().getFullYear();

                $('#year').html(theYear);
            });

        });

    </script>

</body>
</html>