@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link id="bootstrap-css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/home/index.css" /> 
    <title>HelpTech</title>
</head>
<body>

    <nav class="navbar navbar-expand-md fixed-top top-nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><strong>HelpTech</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src=""></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto text-sm-center text-md-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#price">Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonial">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Pricing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="home" class="intro intro-bg bg-overlay parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 caption-two-panel ml-auto pt-5">
                    <div class="intro-caption mt-5">
                        <h1 class="text-white mb-2">Conecta con técnicos confiables al instante</h1>
                        <p class="text-white mb-4">HelpTech es la solución ideal para resolver problemas domésticos. Encuentra técnicos calificados cerca de ti, revisa sus valoraciones y contrata con confianza desde la comodidad de tu hogar.</p>
                        <a class="btn btn-primary text-white mr-3">Descubre cómo funciona</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="copy-content-sec sec-bg-02 h-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 copy-container ml-auto">
                    <div class="copy-content pr-4">
                        <h2 class="font-abril text-primary">
                            Quiénes Somos
                        </h2>
                        <p class="lead ml-2">
                            HelpTech es una plataforma que conecta usuarios con técnicos calificados para resolver problemas técnicos en el hogar y en entornos laborales.
                        </p>
                        <p class="ml-2">
                            Nuestro objetivo es ofrecer un servicio rápido, confiable y profesional, generando oportunidades laborales para técnicos en diversas especialidades y facilitando a los clientes la solución de sus necesidades cotidianas. Nos basamos en la confianza, la eficiencia y la tecnología para brindar una experiencia integral.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="info-section text-white bg-right bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="head-box">
                        <h2 class="font-abril">Servicios que ofrecemos</h2>
                    </div>
                    <div class="three-panel-block mt-5">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="service-block mb-5">
                                    <i class="icon-box mb-3 float-left w-100">
                                        <img src="" class="img-fluid">
                                    </i>
                                    <h3 class="text-primary">Reparaciones del hogar</h3>
                                    <p>Conecta con expertos en electricidad, plomería y carpintería para resolver fallas domésticas rápidamente.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="service-block mb-5">
                                    <i class="icon-box mb-3 float-left w-100">
                                        <img src="" class="img-fluid">
                                    </i>
                                    <h3 class="text-primary">Soporte tecnológico</h3>
                                    <p>Encuentra técnicos para reparación de computadoras, instalación de redes y configuración de dispositivos.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="service-block mb-5">
                                    <i class="icon-box mb-3 float-left w-100">
                                        <img src="" class="img-fluid">
                                    </i>
                                    <h3 class="text-primary">Instalación de electrodomésticos</h3>
                                    <p>Solicita asistencia para instalar aires acondicionados, estufas, lavadoras y más.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="service-block">
                                    <i class="icon-box mb-3 float-left w-100">
                                        <img src="" class="img-fluid">
                                    </i>
                                    <h3 class="text-primary">Asistencia personalizada</h3>
                                    <p>Resuelve cualquier necesidad técnica con profesionales disponibles en tu zona, cuando los necesites.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="price" class="info-section sec-bg-03 bg-overlay">
        <div class="container text-white">
            <div class="head-box text-center mb-5">
                <h2 class="font-abril">Planes de Membresía</h2>
            </div>
            <div class="three-panel-block my-4">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 pl-md-5 mb-4">
                        <div class="service-block-bg text-center p-3">
                            <div class="price-count font-abril"><span>S/</span>0</div>
                            <h3>Membresía Gratuita</h3>
                            <p class="px-4">Acceso básico a la plataforma. Ideal para técnicos que inician y desean recibir solicitudes de trabajo sin costo.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 pr-md-5 mb-4">
                        <div class="service-block-bg text-center p-3">
                            <div class="price-count font-abril"><span>S/</span>10</div>
                            <h3>Membresía Premium</h3>
                            <p class="px-4">Mayor visibilidad en la plataforma, acceso prioritario a trabajos, estadísticas personalizadas y soporte preferencial.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){

            if ((".loader").length) {

                $(window).on('load', function () {
                    $(".loader").fadeOut("slow");
                });
            }

            $('a[href^="#"]').on('click', function(event) {

                var target = $( $(this).attr('href') );

                if( target.length ) {
                    event.preventDefault();
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                }

            });

            $(window).scroll(function() {
                var scroll = $(window).scrollTop();

                if (scroll >= 100) {
                    $(".top-nav").addClass("light-header");
                } else {
                    $(".top-nav").removeClass("light-header");
                }
            });

            $(function(){
                var theYear = new Date().getFullYear();

                $('#year').html(theYear);
            });

        });

    </script>

</body>
</html>